*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(./img/shara\ desert.jpg);

}
.nav{
    display: flex;
    justify-content: space-between;
}


.logo{
    margin: 20px;
}

.menu ul{
    display: flex;
    /* margin-left: 900px; */
    /* justify-content: space-between; */
}
 .menu ul li{
  list-style: none;
  margin: 14px;
  align-self: center;
  color: aliceblue;
  margin-top: 20px;
 }
.container{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    
}
 .left{
    border: 2px solid red;
    width: 50%;
 }
 
 .right{
    border: 2px solid rgb(19, 129, 121);
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px;
 }
 .img1{
    background-image: url(./img/pic-3.png);
    height: 100px;
    width:100px;
    background-size:cover ;
 }